@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply text-primary font-secondary bg-white overflow-x-hidden;
    } 
    .container-motion {
      @apply max-w-[1280px] mx-auto px-2;
    }
    .section {
      @apply h-screen w-screen;
    }
  }

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}