.underline-on-hover {
    display: inline-block;
}

.underline-on-hover::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: rgba(234, 234, 234, .56);
    transition: width .3s;
}

.underline-on-hover:hover::after {
    width: 100%;
}

.box-reflect-below {
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0002, #0004);
}

.bg-support {
    background: linear-gradient(45deg, #00D8FF, #2C73FF, #865dff, #00C8FA);
    background-size: 300% 300%;
    animation: animate 15s ease-in-out infinite;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}